<h1>Case Management System</h1>

<p>This component demonstrates ticket data from the server.</p>

<p *ngIf="!tickets"><em>Loading...</em></p>
<table class="table" *ngIf="tickets">
  <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Status</th>
      <th>Category</th>
      <th>Created Date</th>
      <th>Created By</th>
    </tr>
  </thead>
  <tbody>    
    <tr *ngFor="let ticket of tickets">      
      <td>{{ ticket.id }}</td>
      <td>{{ ticket.description }}</td>
      <td>{{ ticket.status }}</td>
      <td>{{ ticket.category }}</td>
      <td>{{ ticket.createdDate | date }}</td>
      <td>{{ ticket.createdBy }}</td>
    </tr>
    <tr>
      <td><a [routerLink]='["/createticket"]'>Create new ticket</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<table>
  <caption>Reverse a string</caption>
  <tbody>
    <tr>
      <td>
        <label>Enter a string:</label>
      </td>
      <td>
        <input type="text" [(ngModel)]="stringvalue" />
      </td>
    </tr>
    <tr>
      <td>
        <button (click)="submitClick()">Reverse this string</button>
      </td>
      <td>
        <label>{{revstr}}</label>
      </td>
    </tr>
  </tbody>
</table>
